<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personajes de Rick y Morty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="--ion-grid-column-padding: 10px;">
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4" class="ion-margin">
        <ion-list *ngFor="let character of characters?.results">
          <ion-item class="ion-text-center">
            <ion-avatar slot="start" class="large-avatar">
              <img src="{{ character?.image }}" alt="">
            </ion-avatar>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h4>{{ character?.name }}</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button color="success" shape="round" type="button" (click)="detalle(character)">Ver más</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>